# 1. Python 관련 (컴파일 파일 등)
__pycache__/
*.py[cod]
*$py.class

# 2. 가상환경 (Conda, venv 등)
env/
venv/
.venv/
conda-env/

# 3. 데이터셋 (용량이 커서 올리면 안 됨)
data/
datasets/
*.zip
*.tar.gz

# 4. IDE 설정 파일
.vscode/
.idea/

# 5. 주피터 노트북 체크포인트
.ipynb_checkpoints/